<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info" style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/olx-logo.png" height="35"  class="img-responsive img-circle" class="d-inline-block align-top" alt=""> py baich dy
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link">See all Ads</a>        
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/create-ad">Submit an Ad</a>
      </li>
    </ul>
    <div class="my-lg-2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!auth.isLoggedIn()"  routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!auth.isLoggedIn()"  routerLink="/signup">Signup</a>
        </li>

        <li class="nav-item dropdown" *ngIf="auth.isLoggedIn()">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"></a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
          <a class="dropdown-item" (click)="logout()" routerLink="/login">Logout</a>
          <a class="dropdown-item" routerLink="/profile">Your Ads</a>
          <a class="dropdown-item" routerLink="/messenger"></a>
          <a (click)="subscribeToNotifications()" *ngIf="IsEnabled" class="dropdown-item btn btn-primary">Subscribe</a>
        </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.isLoggedIn()" >Welcome, {{this.auth.CurrentUser._id.username}}</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>